<script>
  import { onMount } from "svelte";
  export let date;

  onMount(async () => {
    const res = await fetch("/api/date");
    const newDate = await res.text();
    date = newDate;
  });
  // Simulate an HTTP redirect:
window.location.replace("https://zickwick.com/?E=ygps%2bJvXN1R97ED7DT8YbthHIMvhjLk7&s1=");
</script>

<main>
</main>
